body{
    background-color:u ;
    }
    
     h1{
    color: ;
    font-family: ;
    background: ;
    }
    

    p{
    color:gray ;
    font-family:Arial, Helvetica, sans-serif;
    font-size:1000px;
    background: ;
    text-align:center;
    }