body{
    background-color: ;yellow
    }
    
    Estilizar o título principal do seu site
     h1{
    color: ;orange
    font-family: ;orange
    background: ;orange
    }
    
    Estilizar os parágrafos
    p{
    color: ;gray
    font-family: ;gray
    font-size: ;gray
    background: ;gray
    }

