body{
    background-color: rgba(255, 241, 117, 0.767);
    }
    
    Estilizar o título principal do seu site
     h1{
    color:rgba(255, 166, 0, 0.459) ;
    font-family: ;
    background: ;
    }
    
    Estilizar os parágrafos
    p{
    color:rgb(206, 180, 180) ;
    font-family: ;
    font-size: ;
    background:rgb(184, 146, 146) ;
    text-align:center;
    }

