body{
    background-color: ;yellow
    }
    
    Estilizar o título principal do seu site
     h1{
    color: ;orange
    font-family: ;
    background: ;
    }
    
    Estilizar os parágrafos
    p{
    color: ;
    font-family: ;
    font-size: ;
    background: ;
    }

