body{
    background-color: rgb(250, 250, 201);
    }
    
    Estilizar o título principal do seu site
     h1{
    color:rgba(255, 166, 0, 0.623) ;
    font-family: ;
    background: ;
    }
    
    Estilizar os parágrafos
    p{
    color:rgb(206, 180, 180) ;
    font-family: ;
    font-size: ;
    background: ;
    }

