body{
    background-color: rgba(255, 241, 117, 0.767);
    }
    
     h1{
    color:gray ;
    font-family: ;
    background: ;
    }
    

    p{
    color:gray ;
    font-family:Arial, Helvetica, sans-serif;
    font-size:45px;
    background: ;
    text-align:center;
    }
    
